html {
  /* box-sizing: border-box; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: LL Circular, Montserrat, Proxima Nova;
  background-color: #191414;
  color: #ffffff;
  
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  width: 1200px;
}

label,
input,
button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 8px 0;
  width: 100%;
  text-align: center;  
  /* padding: 20px; */
}




form {
  border: 1px solid #444;
  max-width: 100%;
  padding: 20px;
  width: 400px;
  background-color: #191414;
}




h1 {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1DB954;
  line-height: 0em;
}
h2, 
h3,
h4 {
  line-height: .2em;
}
/* #element1{
  display:inline-block;
  margin-right:100px; 
}
#element2{
  
} */

button {
  background: #1DB954;
  color: white;
  border: 1px solid #444;
  border-radius: 32px; /* how rounded it is*/
  cursor: pointer;
  margin: 0;
  padding: 10px 24px;
  width: 100px
}

span {
  display: inline-block;
  overflow: hidden;
  padding: 0 4px 0 6px;
  width: 40px;
}

button.clearAll {
  background-color: gray;
  float:left;
}
button.generatePlaylist {
  float:right;
}

button:hover {
  background: rgb(49, 223, 110);
  color: #fff;
  font-size: 17px;
}

label.quantity{
  font-size: 17px;
}
/* 


/* flashes styling */
.flashes ul {
  margin: 0 0;

  list-style-type: none;
  list-style: none;
}

article.flashes {
  margin-bottom: 1em
}